# controller.py: 19
Flask == 1.0.2

# controller.py: 20
Werkzeug == 0.15.3

# image_recon\color_detector.py: 15
# image_recon\mask_rcnn.py: 20
numpy == 1.22.0

# image_recon\color_detector.py: 14
# image_recon\mask_rcnn.py: 19
opencv_python == 4.2.0.32

# image_recon\color_detector.py: 17
sklearn == 0.0

# image_recon\color_converter.py: 15
webcolors == 1.8.1
