<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='webassets/style.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
    <script src="{{ url_for('static', filename='webassets/jquery-3.3.1.min.js') }}"></script>
    <title>yuri - Object Detection Solutions</title>
</head>
<body>
    <div class="videoContainer">
        <div class="overlay"></div>
        <video autoplay loop muted>
            <source src="{{ url_for('static', filename='webassets/bg_video_comp.mp4') }}" type="video/mp4">
            <source src="{{ url_for('static', filename='webassets/bg_video_comp.webm') }}" type="video/webm">
        </video>
    </div>

    <div class="logo-text">
        <h1>yuri</h1>
        <br />
        <p class="line-one">high level object detection solutions</p>
        <p>with machine learning</p>
    </div>

    <div class="container">
        <div class="file-submit">
            <form action="/uploader" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <p>Drop File Here</p>
                <div class="dropdown-menu">
                    <select name="color-choice" id="color-choice">
                        <option value="any">Any Colour</option>
                        <option value="blue">Blue</option>
                        <option value="red">Red</option>
                        <option value="green">Green</option>
                        <option value="brown">Brown</option>
                        <option value="orange">Orange</option>
                        <option value="yellow">Yellow</option>
                        <option value="purple">Purple</option>
                        <option value="black">Black</option>
                        <option value="white">White</option>
                    </select>
                    <select name="object-choice" id="object-choice">
                        <option value="any">Any Object</option>
                        <option value="Person">Person</option>
                        <option value="bicycle">Bicycle</option>
                        <option value="car">Car</option>
                        <option value="motorcycle">Motorcycle</option>
                        <option value="airplane">Airplane</option>
                        <option value="bus">Bus</option>
                        <option value="train">Train</option>
                        <option value="truck">Truck</option>
                        <option value="boat">Boat</option>
                        <option value="traffic light">Traffic Light</option>
                        <option value="fire hydrant">Fire Hydrant</option>
                        <option value="stop sign">Stop Sign</option>
                        <option value="parking meter">Parking Meter</option>
                        <option value="bench">Bench</option>
                        <option value="bird">Bird</option>
                        <option value="cat">Cat</option>
                        <option value="dog">Dog</option>
                        <option value="horse">Horse</option>
                        <option value="sheep">Sheep</option>
                        <option value="cow">Cow</option>
                        <option value="elephant">Elephant</option>
                        <option value="bear">Bear</option>
                        <option value="zebra">Zebra</option>
                        <option value="giraffe">Giraffe</option>
                        <option value="backpack">Backpack</option>
                        <option value="umbrella">Umbrella</option>
                        <option value="handbag">Handbag</option>
                        <option value="tie">Tie</option>
                        <option value="suitcase">Suitcase</option>
                        <option value="frisbee">Frisbee</option>
                        <option value="skis">Skis</option>
                        <option value="snowboard">Snowboard</option>
                        <option value="sports ball">Sports Ball</option>
                        <option value="kite">Kite</option>
                        <option value="baseball hat">Baseball Hat</option>
                        <option value="baseball glove">Baseball Glove</option>
                        <option value="skateboard">Skateboard</option>
                        <option value="surfboard">Surfboard</option>
                        <option value="tennis racket">Tennis Racket</option>
                        <option value="bottle">Bottle</option>
                        <option value="wine glass">Wine Glass</option>
                        <option value="cup">Cup</option>
                        <option value="fork">Fork</option>
                        <option value="knife">Knife</option>
                        <option value="spoon">Spoon</option>
                        <option value="bowl">Bowl</option>
                        <option value="banana">Banana</option>
                        <option value="apple">Apple</option>
                        <option value="sandwich">Sandwich</option>
                        <option value="orange">Orange</option>
                        <option value="broccoli">Broccoli</option>
                        <option value="carrot">Carrot</option>
                        <option value="hot dog">Hot Dog</option>
                        <option value="pizza">Pizza</option>
                        <option value="donut">Donut</option>
                        <option value="cake">Cake</option>
                        <option value="chair">Chair</option>
                        <option value="couch">Couch</option>
                        <option value="potted plant">Potted Plant</option>
                        <option value="bed">Bed</option>
                        <option value="dining table">Dining Table</option>
                        <option value="toilet">Toilet</option>
                        <option value="tv">TV</option>
                        <option value="laptop">Laptop</option>
                        <option value="mouse">Mouse</option>
                        <option value="remote">Remote</option>
                        <option value="keyboard">Keyboard</option>
                        <option value="phone">Phone</option>
                        <option value="microwave">Microwave</option>
                        <option value="oven">Oven</option>
                        <option value="toaster">Toaster</option>
                        <option value="sink">Sink</option>
                        <option value="refrigerator">Refrigerator</option>
                        <option value="book">Book</option>
                        <option value="clock">Clock</option>
                        <option value="vase">Vase</option>
                        <option value="scissors">Scissors</option>
                        <option value="teddy bear">Teddy Bear</option>
                        <option value="hair drier">Hair Drier</option>
                        <option value="toothbrush">Toothbrush</option>
                    </select>

                </div>
                <button type="submit" class="submit-button">Upload</button>
            </form>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='webassets/script.js') }}"></script>
</html>
